<% include ../header %>
  <header>47 5.2. Controlando as sessões</header>
    <h2>Ntalk - Agenda de contatos</h2>
  </header>
  <section>
    <p>Bem-vindo <%- usuario.nome %></p>
  </section>
<% include ../exit %>
<% include ../footer %>
